@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	font-family: 'Rubik', sans-serif;
	scroll-behavior: smooth;
}

* {
	@apply transition-colors duration-500 ease-in-out;
}

button {
	cursor: pointer;
}
